<div class="card-container p-3">
  <div class="card w-50">
    <div class="card-body">
      <div class="card-text d-flex flex-wrap">
        <div
          *ngFor="let item of cardColumn"
          class="d-flex flex-column"
          [ngStyle]="getNoOfColumn(item.columnSpace)"
        >
          <strong>{{ item.label | upperCase }}</strong>
          <ng-container
            *ngTemplateOutlet="
              item.templateRef;
              context: { $implicit: viewContent }
            "
          >
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>