.id-field {
  font-weight: bold;
}

.name-field {
  font-weight: bold;
  color: gainsboro;
}

.age-field {
  color: rgb(86, 129, 167);
}

.email-field {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: red;
}

.address-field {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: gray;
}

.date-field {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: green;
}
