<app-card-view [viewContent]="viewContent" [viewConfig]="viewConfig">
  <ng-container *ngFor="let configValue of viewConfig.customLayer">
    <ng-template
      appCardColumn
      [key]="configValue.key"
      [label]="configValue?.label || configValue.key"
      let-userData
    >
      <ng-container
        *ngTemplateOutlet="
          getTemplateType(configValue);
          context: { configValue: configValue, userData: userData }
        "
      >
      </ng-container>
    </ng-template>
  </ng-container>
</app-card-view>

<ng-template #badgeType let-configValue="configValue" let-userData="userData">
  <div class="{{ configValue.styleClass }}">
    {{ userData[configValue.key] | cardPipe : configValue.usePipe }}
  </div>
</ng-template>

<ng-template #defaultType let-configValue="configValue" let-userData="userData">
  <div class="{{ configValue.styleClass }}">
    {{ userData[configValue.key] | cardPipe : configValue.usePipe }}
  </div>
</ng-template>
