<app-card-view [viewContent]="viewContent" [viewConfig]="viewConfig">
  <ng-container *ngFor="let configValue of viewConfig.customLayer">
    <ng-template
      appCardColumn
      [key]="configValue.key"
      [label]="configValue?.label || configValue.key"
      [columnSpace]="configValue?.occupySpace || viewConfig.defaultColumn"
      let-userData
    >
      <ng-container
        *ngTemplateOutlet="
          getTemplateType(configValue);
          context: { configValue: configValue, userData: userData }
        "
      ></ng-container>
    </ng-template>
  </ng-container>
</app-card-view>

<ng-template #badgeType let-configValue="configValue" let-userData="userData">
  <div class="{{ configValue.styleClass }}">
    {{ userData[configValue.key] | cardPipe : configValue.usePipe }}
  </div>
</ng-template>

<ng-template #defaultType let-configValue="configValue" let-userData="userData">
  <ng-container *ngIf="isObject(userData[configValue.key])">
    <div class="{{ configValue.styleClass }}">
      <ng-container *ngFor="let valueItem of configValue.getValueFrom">
        <ng-container *ngIf="hasNestedObject(userData[configValue.key])">
          <ng-container
            *ngFor="let item of userData[configValue.key] | keyvalue"
          >
            <!-- {{ item?.key }} -->
              {{userData[configValue.keyitem.key]}}
          </ng-container>
        </ng-container>

        <ng-container *ngIf="!hasNestedObject(userData[configValue.key])">
          <div>{{ userData[configValue.key][valueItem] }}</div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="!isObject(userData[configValue.key])">
    <div class="{{ configValue.styleClass }}">
    {{ userData[configValue.key] | cardPipe : configValue.usePipe }}
  </div>
  </ng-container>

</ng-template>
