.table-wrapper{
  min-height: 100vh;
}
.disabled-arrow {
  color: rgb(163, 163, 163) !important;
  pointer-events: none;
}

.no-data {
  display: flex;
  justify-content: center;
}

.arrow-item{
  border: none;
  background: white;
  cursor: pointer;
}