<app-content-table [tableDataList]="tableDataList" (onSort)="onSort($event)">
  <ng-container *ngFor="let configValue of tableConfig[0]?.config?.customLayer">
    <ng-container *ngIf="configValue?.header != action">
      <ng-template
        appTableColumn
        [header]="configValue.header"
        [name]="configValue.name"
        [sortEnable]="configValue.sortEnable || false"
        [width]="configValue.width"
        let-userData
      >
        <ng-container
          *ngTemplateOutlet="
            getTableData(configValue.dataStyle);
            context: { userData: userData, configValue: configValue }
          "
        >
        </ng-container>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="configValue?.header == action">
      <ng-template
        appTableColumn
        [header]="configValue.header"
        [name]="configValue.name"
        let-userData
      >
        <div class="button-container">
          <ng-container *ngFor="let action of configValue.actions">
            <ng-container *ngIf="!action.templateItem">
              <button
                class="button-icon"
                (click)="onActionTrigger(action.type, userData.id)"
              >
                <img [src]="action.icon" alt="icon" class="image-icon" />
              </button>
            </ng-container>

            <ng-container *ngIf="action.templateItem">
              <button
                class="button-icon"
                (click)="onActionTypeSelect(action.type, userData.id)"
              >
                <img [src]="action.icon" alt="icon" class="image-icon" />
              </button>
            </ng-container>
          </ng-container>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</app-content-table>

<ng-template #menuItem let-menuItems let-menuId="menuId">
  <div class="dropdown-menu">
    <ng-container *ngFor="let item of menuItems">
      <button class="button-icon" (click)="onActionTrigger(item.type, menuId)">
        <img [src]="item.icon" alt="icon" class="image-icon" />
      </button>
    </ng-container>
  </div>
</ng-template>

<ng-template #badgeType let-userData="userData" let-configValue="configValue">
  <div class="{{ configValue.dataStyle.styleClass }}">
    {{ userData[configValue.name] }}
  </div>
</ng-template>

<ng-template #normalType let-userData="userData" let-configValue="configValue">
  <div class="{{ configValue.dataStyle.styleClass }}">
    {{ userData[configValue.name] }}
  </div>
</ng-template>
